/* Contém as regras de transição e do dark mode */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html:not(.dark) .sidebar-link.active {
  background-color: #4f46e5;
  color: white;
}

html:not(.dark) .sidebar-link:not(.active):hover {
  background-color: #6366f1;
}

html.dark .sidebar-link.active {
  background-color: #6d28d9;
  color: white;
}

html.dark .sidebar-link:not(.active):hover {
  background-color: #5b21b6;
}
